<!-- Bits and Pieces -->
<%= render 'partials/header' %>
<%= render 'partials/specialnav' %>
<!-- Content -->

  <%= @posts.each do |post| %>
    <h6 class="docs-header"><a href=""><%= post.title, post %></a></h6>
    <p><%= post.created_at.strftime("%A, %b %d") %></p>
    <hr>
  <% end %>

<!-- Footers -->
<%= render 'partials/footer' %>
