<!-- Bits and Pieces -->
<%= render 'partials/header' %>
<%= render 'partials/specialnav' %>
<!-- Content -->

<br>


<h4 class="docs-header"><%= @post.title %></h4> <br>
<br>
<% if user_signed_in? %>
  <div class="admin_links">
    <%= link_to "Edit Post", edit_post_path(@post) %>
    <%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
<br>
<%= markdown @post.content %>
<br>
<br>

<%= render 'posts/disqus' %>
<!-- Footers -->
<%= render 'partials/footer' %>
