<!-- Bits and Pieces -->
<%= render 'partials/header' %>
<%= render 'partials/specialnav' %>
<!-- Content -->

<br>


<h4 class="docs-header"><%= @post.title %></h4> <br>
<p><%= link_to "Edit", edit_post_path(@post) %> |
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you wish to delete this post?"} %></p>

<br>
<br>
<%= markdown @post.content %>
<br>
<br>

<!-- Footers -->
<%= render 'partials/footer' %>
